{% extends "index.html" %}
{% load humanize %}

{% block page_title %}Details{% endblock %}

{% block main_body %}
    <div class="content-block">
        <h1>Details for {{ object.title }}</h1>
        <p>Here is URL for your secret. Please remember that you need to provide password to all people who get this
            link. Password was saved in database in secret way. We cannot recover it.</p>
        <input class="url-input" readonly="readonly" value="{{ object_url }}">
        <h2>History of file:</h2>
        <ul>
            {% for item in object.log.all %}
                <li>Accessed {{ item.created|naturaltime }} by {{ item.user_agent }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock main_body %}
