{% extends "index.html" %}
{% load i18n %}
{% load humanize %}

{% block page_title %}Details{% endblock %}

{% block main_body %}
    <div class="content-block">
        <h1>Statistics</h1>
        <dl>
        {% for item in objects %}
            <dt>{{ item.date|naturalday }}</dt>
            <dd>
                {% blocktrans count counter=item.files %}
                    One file was downloaded
                {% plural %}
                    {{ counter }} files was downloaded
                {% endblocktrans %}<br>
            </dd>
        {% endfor %}
        </dl>
    </div>
{% endblock main_body %}
