<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Weles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "secrets-stats" %}">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "secrets-create" %}">Create</a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
        {% if user.is_anonymous %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "login" %}">Sign in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "django_registration_register" %}">Register</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Sign out</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
